{% extends "template.html" %}
{% load static %}
{% block contenidoQueCambia %}
        <header class="masthead" style="background-image: url('{% static "assets/img/about-bg.jpg" %}')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="page-heading">
                            <h1>Acerca nuestro</h1>
                            <span class="subheading">Quienes somos...</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <main class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <h3>Rocío Nuñez</h3>
                        <p>Ut ut leo vel purus sagittis scelerisque gravida quis ex. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Aliquam eget turpis et nisl finibus tincidunt ut ac nunc. Suspendisse potenti. Vivamus congue rutrum tincidunt. Vivamus massa purus, pellentesque ut fringilla eu, maximus a nulla. Suspendisse aliquam imperdiet metus, nec varius neque fermentum a. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Curabitur augue mauris, dictum nec neque ultricies, ullamcorper vulputate lacus. Aenean consequat rutrum leo sed tempus. Aenean sed tortor porttitor, consectetur est nec, ullamcorper est. Ut at euismod sapien. Pellentesque blandit turpis eu mi cursus, eu volutpat augue consectetur.</p>
                        
                        <h3>Emanuel Picco</h3>
                        <p>Donec in ullamcorper dui, non varius nunc. Nullam a velit sed nisi suscipit finibus egestas ac elit. Suspendisse porttitor neque ac rutrum dictum. Nunc sit amet diam metus. Cras suscipit mi quis turpis varius rutrum. Nunc id hendrerit odio, ac condimentum metus. Nullam luctus et nunc non sagittis. Nam non velit a nisi dapibus dictum id vel eros. Phasellus eget pulvinar dolor. Morbi sit amet quam vitae nisl vestibulum molestie. Morbi condimentum lorem quis est consectetur finibus a in ligula. Nam tellus neque, gravida sit amet condimentum eu, vehicula eget nulla.</p>

                        <h3>Facundo Lanza</h3>
                        <p>Aliquam id mauris in nisl accumsan ullamcorper. Vestibulum fermentum sapien id augue feugiat vulputate. Praesent dignissim tincidunt suscipit. Sed arcu sem, accumsan et velit sed, lacinia mattis quam. Aenean varius velit vitae rutrum fermentum. Duis ut faucibus nisi. Aliquam erat volutpat. Pellentesque magna nisl, consequat sit amet imperdiet ut, eleifend sed elit. Fusce eleifend nibh vitae ex imperdiet, at feugiat arcu condimentum.</p>
                    </div>
                </div>
            </div>
        </main>
{% endblock %}