{% extends "template.html" %}
{% load static %}
{% block contenidoQueCambia %}
        <header class="masthead" style="background-image: url('{% static "assets/img/about-bg.jpg" %}')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="page-heading">
                            <h1>Acerca de nosotros</h1>
                            <span class="subheading">Blog creado para compartir todo tipo de reseñas de los ultimos estrenos de tus pelis favoritas</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <main class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <h3>Rocío Nuñez</h3>
                        <p>Me llamo Rocio, tengo 23 años y soy estudiante de Licenciatura en Sistemas.<br>
                        Mi pelicula favorita es Léon the professional</p>
                        
                        <h3>Emanuel Picco</h3>
                        <p>Me llamo Emanuel, tengo 19 años, estudio y soy piloto de autos.<br>
                        Mi pelicula preferida es Rápido y furioso.</p>

                        <h3>Facundo Lanza</h3>
                        <p>Hola, soy Facundo, tengo 49 años, anteriormente trabajé 18 años en una empresa en desarrollo web (asp clasico, html, javascript) y ahora me encuentro en el area de sistemas de un sanatorio de rosario.<br>
                        Una de mis peliculas favorita es Matrix.</p>
                    </div>
                </div>
            </div>
        </main>
{% endblock %}