{% extends "template.html" %}
{% load static %}
{% block contenidoQueCambia %}
        <!-- Page Header-->
        <header class="masthead" style="background-image: url('{% static "assets/img/home-bg.jpg" %}')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="site-heading">
                            <h1>CineCoder</h1>
                            <span class="subheading">Blog de reseñas</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <!-- Post preview-->
                    <div class="post-preview">
                        
                            <h2 class="post-title">{{listado_blogs.titulo}}</h2>
                            <h5 class="post-subtitle">{{listado_blogs.subtitulo}}</h5>
                        
                        <p class="post-meta">
                            Posted by Usuario {{listado_blogs.idusuario}} - {{listado_blogs.fecha}}
                        </p>

                        <p class="post-meta">
                            {{listado_blogs.resumen}}
                        </p>

                        <p class="post-meta">
                           {{listado_blogs.cuerpo}}
                        </p>
                        
                    </div>
                    <!-- Divider-->
                    <!-- Post preview-->
                      
                    
                    <!-- Divider-->
                    <hr class="my-4" />
                    <!-- Pager-->
                    <div class="d-flex justify-content-end mb-4"><a class="btn btn-primary text-uppercase" href="javascript:history.back();">volver</a></div>
                    
                </div>
            </div>
        </div>
{% endblock %}        