{% extends "template.html" %}
{% load static %}
{% block contenidoQueCambia %}
        <header class="masthead" style="background-image: url('{% static "assets/img/contact-bg.jpg" %}')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="page-heading">
                            <h1>Chat</h1>
                            <span class="subheading">El chat de nuestro grupo...</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <main class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    {% if request.user.is_authenticated %}
                        <h4>Mis Mensajes</h4>
                        {% if misMensajes %}
                            {% for mimsg in misMensajes %}
                                <p>Mensaje a <b>{{ mimsg.destinatario }}</b> - {{ mimsg.fecha }} {{ mimsg.hora }}<br>
                                <i>{{ mimsg.mensaje }}</i><br>
                                <a style="color:red;" href="{% url 'eliminarMensaje' mimsg.id %}">Eliminar</a> </p>
                                <hr class="my-4" />
                            {% endfor %}
                        {% else %}
                            <p>No has escrito ningún mensaje...</p>
                            <hr class="my-4" />
                        {% endif %}
                        
                        

                        <h4>Me escribieron</h4>
                        {% if MensAmi %}
                            {% for msg in MensAmi %}
                                <p>Mensaje de <b>{{ msg.autor }}</b> - {{ msg.fecha }} {{ msg.hora }}<br>
                                <i>{{ msg.mensaje }}</i><br>
                                <hr class="my-4" />
                            {% endfor %}
                        {% else %}
                            <p>No tienes mensajes...</p>
                            <hr class="my-4" />
                        {% endif %}


                        <div class="tabla_form">
                            <p>Escribile o respondele a:</p>
                            <table>
                                <form method="POST" action="">
                                {% csrf_token %}
                                {{ formulario.as_table }}
                                <tr>
                                    <td></td>
                                    <td><button class="btn btn-primary text-uppercase" type="submit">Enviar</button></td>
                                </tr>
                                
                                </form>
                            </table>                   
                            
                        </div>
                    {% else %}
                        <p class="text-center">Para chatear con alguien debe estar registrado</p>
                        <div class="d-flex justify-content-center mb-4"><a class="btn btn-primary text-uppercase" href="{% url 'registro' %}">registrarse</a> &nbsp; <a class="btn btn-primary text-uppercase" href="{% url 'loginPage' %}">iniciar sesión</a></div>
                    {% endif %}
                </div>
            </div>
        </main>
{% endblock %}