{% extends "template.html" %}
{% load static %}
{% block contenidoQueCambia %}
        <!-- Page Header-->
        <header class="masthead" style="background-image: url('{% static "assets/img/home-bg.jpg" %}')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="site-heading">
                            <h1>CineCoder</h1>
                            <span class="subheading">Blog de reseñas</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <!-- Post preview-->
                {% if listado_blogs %}
                    {% for blog in listado_blogs %}
                    <div class="post-preview">
                        <a href="{% url 'blogAmpliado' blog.id %}">
                            <h2 class="post-title">{{blog.titulo}}</h2>
                            <h3 class="post-subtitle">{{blog.subtitulo}}</h3>
                        </a>
                        <p class="post-meta">
                            <i>Posted by {{blog.usuario}} - {{blog.fecha}}</i><br>
                            {{blog.resumen}}<br>
                            {% if blog.idusuario == request.user.id %}
                                <a style="color:green;" href="{% url 'editarBlog' blog.id %}">Editar</a>
                                - <a style="color:red;" href="{% url 'eliminarBlog' blog.id %}">Eliminar</a>
                            {% endif %}                           
                        </p>
                    </div>
                    <!-- Divider-->
                    <!-- Post preview-->
                        {% endfor %}
                    {% else %}
                        <p>No hay blogs disponibles de momento</p>
                    {% endif %}
                    
                    <!-- Divider-->
                    <hr class="my-4" />
                    <!-- Pager-->
                    {% if request.user.is_authenticated %}
                    <div class="d-flex justify-content-end mb-4"><a class="btn btn-primary text-uppercase" href="{% url 'NuevoBlog' %}">Crear reseña →</a></div>
                    {% else %}
                    <p class="text-center">Para crear una reseña debe estar registrado</p>
                    <div class="d-flex justify-content-center mb-4"><a class="btn btn-primary text-uppercase" href="{% url 'registro' %}">registrarse</a> &nbsp; <a class="btn btn-primary text-uppercase" href="{% url 'loginPage' %}">iniciar sesión</a></div>

                    {% endif %}
                </div>
            </div>
        </div>
{% endblock %}