{% extends "template.html" %}
{% load static %}
{% block contenidoQueCambia %}
        <!-- Page Header-->
        <header class="masthead" style="background-image: url('{% static "assets/img/home-bg.jpg" %}')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="site-heading">
                            <h1>Blog Grupo 17</h1>
                            <span class="subheading">Un blog que esperemos funcione...</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <!-- Post preview-->
                {% if listado_blogs %}
                    {% for blog in listado_blogs %}
                    <div class="post-preview">
                        <a href="{% url 'blog_ampliado' blogs.id %}">
                            <h2 class="post-title">{{titulo}}</h2>
                            <h3 class="post-subtitle">{{subtitulo}}</h3>
                        </a>
                        <p class="post-meta">
                            Posted by
                            <a href="#!">Start Bootstrap</a>
                            on September 24, 2022
                        </p>
                    </div>
                    <!-- Divider-->
                    
                    <hr class="my-4" />
                    <!-- Post preview-->
                        {% endfor %}
                    {% else %}
                        <p>No hay blogs disponibles de momento</p>
                    {% endif %}
                    
                    <!-- Divider-->
                    <hr class="my-4" />
                    <!-- Pager-->
                    <div class="d-flex justify-content-end mb-4"><a class="btn btn-primary text-uppercase" href="NuevoBlog">Cargar un blog →</a></div>
                </div>
            </div>
        </div>
{% endblock %}        