{% extends "template.html" %}
{% load static %}
{% block contenidoQueCambia %}
        <!-- Page Header-->
        <header class="masthead" style="background-image: url('{% static 'assets/img/home-bg.jpg' %}')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="site-heading">
                            <h1>Blog Grupo 17</h1>
                            <span class="subheading">Login...</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    {% if errors %}
                    <p style="color: red">Errores en el inicio de sesion: {{errors}}</p>
                    {% endif %}
                <div class="tabla_form">
                <table>
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_table }}
                    <tr>
                        <td></td>
                        <td><input type="submit" value="Iniciar sesion"></td>
                    </tr>
                    
                </form>
                </table>
                </div>
                <p> No tenes cuenta? <a href="{% url 'registro'%}">Create una</a> </p>
                </div>
            </div>
        </div>
{% endblock %}        