{% extends "template.html" %}
{% load static %}
{% block contenidoQueCambia %}
        <!-- Page Header-->
        <header class="masthead" style="background-image: url('{% static "assets/img/home-bg.jpg" %}')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="site-heading">
                            <h1>Blog Grupo 17</h1>
                            <span class="subheading">Registración</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <div class="container px-4 px-lg-5">
            
            {% if miFormulario.errors %}
            <p>Están mal los datos</p>
            {% endif %}
            <div class="col-md-10 col-lg-8 col-xl-7"></div>
                <div class="tabla_form">
                    <table>
                        <form action="" method="POST">
                            {% csrf_token %}
                            {{ miFormulario.as_table }}
                            <tr>
                                <td></td>
                                <td><button type="submit">Registrate</button></td>
                            </tr>
                        </form>
                    </table>
                </div>
            </div>
        </div>
{% endblock %}        